.header-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.header-container > .nav-items > ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-items: center;
}
.header-container > .nav-items > ul > li {
  font-size: 24px;
  font-weight: 500;
  margin-right: 30px;
}
.logo > img {
  height: 70px;
}
.card-container {
  margin: 10px;
}
.card-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  border: 1px solid grey;
  padding: 8px;
}
.card-image {
  width: 100%;
}
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 250px;
}
.filter-btn {
  padding: 10px;
  font-size: 18px;
  margin: 12px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.filter-btn:hover {
  background-color: #eb0d0d;
  color: white;
}

.filter-btn.reset {
  background-color: #dedede;
}
.filter-btn.reset:hover {
  background-color: #3498db;
  color: white;
}

.search-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  width: 100%;
}
.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 300px;
}
.search-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.search-btn:hover {
  background-color: #2980b9;
}

/* Shimmer UI Styles */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.shimmer-card {
  width: 250px;
  height: 350px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: #fff;
}

.shimmer-img {
  width: 100%;
  height: 150px;
  background: #e0e0e0;
  border-radius: 8px;
  margin-bottom: 10px;
}

.shimmer-title {
  width: 70%;
  height: 20px;
  background: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 10px;
}

.shimmer-tags {
  width: 90%;
  height: 15px;
  background: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 10px;
}

.shimmer-details {
  width: 50%;
  height: 15px;
  background: #e0e0e0;
  border-radius: 4px;
}

.animate {
  animation: shimmer 1.5s infinite;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* In your style.css */
a {
  color: inherit;
  text-decoration: none;
}
.user{
  padding: 12px;
  margin: 7px;
  background-color: lightgrey;
  font-weight: bold;
  width: 250px;
}
.img{
  width: 100%;
  height: auto;
}